
#div1 { 
  background-color: #000000;
  width: 400px; 
  height: 400px;
}
#div2 {
  background-color: #000000;
  width: 400px;
  height: 400px;
}
#div3 {
  background-color: #000000;
  width: 400px;
  height: 400px;
}
